@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 320px) {
  .slick-dots {
    bottom: -7px !important;
    left: 30px !important;
    text-align: left !important;
  }
}
.slick-dots {
  bottom: 5px !important;
  left: 5px !important;
  text-align: left !important;
 
  li {
    margin-right: 0px; /* Add margin between dots */
  }

  li button::before {
    padding: 0 !important;
    font-size: 9px !important; /* Adjust the size of the dot */
   
  }
  li button:hover{
    color: none;
  }
}
.cta-learnmore:hover .button-icon:hover {
  transform: translateX(4px); /* Adjust the value as per your requirement */
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
